*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: rgb(27, 27, 27);
}

html {
  background-color: blue;
}

body {
  background-color: var(--background-color);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide scrollbar */
#cards-container {
  scrollbar-width: none; /* Firefox and latest Chromium */
}
#cards-container::-webkit-scrollbar {
  display: none; /* Safari and legacy Chromium */
}

#carousel {
  width: 100dvw;
  max-width: 1920px;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  /* ! DEBUGGING STYLE */
  background-color: white;
  border: 0px solid blue;
}

#cards-container {
  width: 100%; /* 100dvw - 1920px */
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 0px;
  scroll-behavior: smooth;
  /* Important for swiping */
  overflow: auto;
  /*scroll-snap-type: x mandatory;*/

  /* Perspective settings */
  perspective: 1000px;
  perspective-origin: center center;
  transform-style: preserve-3d;

  /* ! DEBUGGING STYLE */
  background-color: yellow;
  border: 0px solid black;
}

.card {
  /* 
    ! BUG: when dynamically set - the need to be updated after resizing
    @screen-width:320px, card: 200px
    @screen-width:1920px, card: 600px
  */
  --card-size: clamp(200px, 25dvw + 120px, 600px);
  width: var(--card-size);
  height: var(--card-size);
  flex: 0 0 auto;
  font-size: calc(var(--card-size) * 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 600ms ease-out; /* cubic-bezier(0.34, 1.2, 0.64, 1) */
  /* Important for swiping */
  /*scroll-snap-align: center;*/

  /* ! DEBUGGING STYLE 
  background-color: rgba(255, 0, 0, 0.411); */
  /*border: 2px solid black;*/

  /* ! BUG: jagged vertical edges */
}
